<!--
---------------------------------------------------
-----  Character Creation Page - creator.ejs  -----
-----      Massive character editor page      -----
-----              Chris Danyluk              -----
---------------------------------------------------
-->


<!DOCTYPE html>
<html>
  <head>
    <%- include('../templates/header') %>
    <script src="./javascripts/creator.js"></script>
  </head>
  <body onload="readData(<%= data %>)">
    <h1><%= title %></h1>
    <p>Welcome, <%= data %>!</p>
    <input id="name">
    <br>
    <select id="gender">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
    <br>
    <div class="row">
      <div class="col">
        <label>STR</label>
        <input type="number" id="str" class="stats" min="1" max="10">
      </div>
      <div class="col">
        <label>DEX</label>
        <input type="number" id="dex" class="stats" min="1" max="10">
      </div>
      <div class="col">
        <label>CON</label>
        <input type="number" id="con" class="stats" min="1" max="10">
      </div>
      <div class="col">
        <label>INT</label>
        <input type="number" id="int" class="stats" min="1" max="10">
      </div>
      <div class="col">
        <label>WIS</label>
        <input type="number" id="wis" class="stats" min="1" max="10">
      </div>
      <div class="col">
        <label>CHA</label>
        <input type="number" id="cha" class="stats" min="1" max="10">
      </div>
    </div> <!--Row End-->
    <br>
    <h4 id="wins">Wins:</h4>
    <a href="/">Back to Home</a>
  </body>
</html>
