<!--
-------------------------------------------
-----     Reaping Page - index.ejs    -----
-----  Main game page of the website  -----
-----          Chris Danyluk          -----
-------------------------------------------
-->


<!DOCTYPE html>
<html>
  <head>
    <%- include('../templates/header') %> <!--Includes and runs the template header file-->
    <script src="./javascripts/reaping.js"></script> <!--Links the javascript file 'reaping' to this page-->
  </head>
  <body onload="startGame()">
    <p id="test"></p>
  </body>
</html>