/*
-------------------------------------------------------
-----           Style Sheet - style.css           -----
-----  Stylizes almost everything on the website  -----
-----                Chris Danyluk                -----
-------------------------------------------------------
*/


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg);
}

a {
  color: #00B7FF;
  cursor: pointer;
}

h1, p {
  color: var(--obg);
}

.card {
  width:500px;
  margin: 2%;
}

.card-title {
  text-align: center;
}

#attribute-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.close {
  position: relative;
}

.close > span {
  visibility: hidden;
  position: absolute;
  right: 5px;
  z-index: 1;
  background-color: white;
  color: var(--surface);
  padding-left: 5%;
  text-align: right;
}

.close:hover > span {
  visibility: visible;
}